<div class="workspaces">
    <h3>Workspaces</h3>
    <div
        *ngFor="let workspace of auth.user.workspaces"
        class="workspace-item d-flex justify-content-between">
        <a href="#">{{ workspace.name }}</a>
        <a href="#">Team (1)</a>
        <a href="#">notification</a>
        <a href="#">Messages</a>
        <a href="#">More Action</a>
    </div>
</div>

<div class="jobs">
    <h3>Job List</h3>
    <a uiSref="jobs-create">Add a Job</a>
    <div>
        <a href="#">Job</a>
        <a href="#">Applicant (33)</a>
        <a href="#">More action</a>
    </div>
</div>