<section>
  <div class="search-container">
    <input class="search__input" [(ngModel)]="keyword" placeholder="Search" type="text">
    <button class="search__button" (click)="setParam()">
      <i class="fas fa-search"></i>
      Search
    </button>
    <button class="search__filter">
      <i class="fas fa-filter"></i> Filter
    </button>
  </div>
  <div class="jobs-container">
    <div class="jobs__top">
      <div class="jobs__count"><span> {{count? count: '0'}} </span>Job Found</div>
      <div class="jobs__sort">
        <label for=""> Sort by</label>
        <select name="" id="" [(ngModel)]="sortBy" (change)="setParam()">
          <option value="newest">Newest</option>
          <option value="oldest">Oldest</option>
        </select>
      </div>
    </div>
    <div class="jobs__item" *ngFor="let job of jobsList">
      <div class="jobs__item-header">
        <span class="title">{{ job.title }}</span>
        <span class="time">11 mins ago</span>
      </div>
      <div class="jobs__item-body">
        <read-more [text]="job.description"></read-more>
      </div>
      <div class="jobs__item-footer">
        <div class="tag">
          <div class="tag-item">Fixed Price</div>
          <div class="tag-item">Remote</div>
          <div class="tag-item">1-3 months</div>
          <div class="tag-item"> <i class="fas fa-map-marker"></i> United states</div>
        </div>
        <button uiSref="jobs-apply" [uiParams]="{ jobId: job.id }">Apply now</button>
      </div>
    </div>
  </div>

</section>