<aside class="sidebar">
    <div class="card">
      <span class="card__title"> 👋 Got a project in mind? </span>
      <span class="card__subtitle">Let us find the right team!</span>
    </div>
    <div class="category">
      <div class="category__top">
        <span class="label">
          Categories
        </span>
        <a *ngIf="categories.getCategories() && categories.getCategories().length > 4" (click)="toggle()">({{ isExtend ? 'Hide' : 'Show all ' + categories.getCategories().length }})</a>

      </div>
      <div class="category__content">
        <div class="category__item" *ngFor="let category of categories.getCategories() | slice:0:limit">{{ category.name }}</div>
      </div>
    </div>
  </aside>