<aside class="sidebar">
    <div class="card">
      <span class="card__title"> 👋 Got a project in mind? </span>
      <span class="card__subtitle">Let us find the right team!</span>
    </div>
    <div class="category">
      <div class="category__top">
        <span class="label">
          Categories
        </span>
        <a href="">(Show all 56)</a>
      </div>
      <div class="category__content">
        <div class="category__item">Design</div>
        <div class="category__item">Data Analytics</div>
        <div class="category__item">Project Management</div>
        <div class="category__item">Development</div>
      </div>
    </div>
  </aside>