// -webkit-font-smoothing: antialiased;
//     moz-osx-font-smoothing: grayscale;
//     font: normal normal 16px/150% 'Lato-Regular', 'Helvetica', sans-serif;



@font-face {
  font-family: 'Eina01-Regular';
  src: url(../../fonts/Eina/Eina01-Regular.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Eina01-RegularItalic';
  src: url(../../fonts/Eina/Eina01-RegularItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Eina01-Light';
  src: url(../../fonts/Eina/Eina01-Light.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Eina01-LightItalic';
  src: url(../../fonts/Eina/Eina01-LightItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Eina01-Bold';
  src: url(../../fonts/Eina/Eina01-Bold.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Eina01-BoldItalic';
  src: url(../../fonts/Eina/Eina01-BoldItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Eina01-SemiBold';
  src: url(../../fonts/Eina/Eina01-SemiBold.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: 'Eina01-SemiBoldItalic';
  src: url(../../fonts/Eina/Eina01-SemiboldItalic.ttf);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: grayscale
}