<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">Roster</a>

  <ul class="navbar-nav">
    <li ngbDropdown class="nav-item">
      <a ngbDropdownToggle class="nav-link" role="button">
        {{ auth.user.displayName() | titlecase }}
      </a>
      <div ngbDropdownMenu>
        <a class="dropdown-item" uiSref="profile">Profile</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" uiSref="logout">Log Out</a>
      </div>
    </li>
  </ul>
</nav>
