<div class="container header">
  <div class="header__left">
    <div class="logo">Roster.</div>
    <input type="text" placeholder="search">
  </div>
  <nav class="header__right">
    <ul class="navbar-nav">
      <li>Search Jobs</li>
      <li>Reports</li>
      <li>Messages</li>
      <i class="fas fa-bell"></i>
      <div ngbDropdown display="dynamic" placement="bottom-right">
        <a ngbDropdownToggle class="dropdown--no-arrow">
          <!-- will update this once the update user api is itegrated -->
          <img class="profile" src="static/images/temp.png" *ngIf="auth.user.image; else elseBlock">
          <ng-template #elseBlock><img class="profile" src="static/images/temp.png" alt="" ></ng-template>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" href="#">{{ auth.user.displayName() }}</a>
          <a class="dropdown-item" uiSref="logout">Log Out</a>
        </div>
      </div>
    </ul>
  </nav>
</div>
